fastapi
uvicorn
pydantic
pydantic[email]
PyJWT
supabase
python-dotenv
llama-cpp-python
huggingface-hub
scikit-learn
xgboost
shap
sentence-transformers
spacy
chromadb
PyMuPDF
python-docx
pandas
numpy
joblib
email-validator 
python-multipart
requests
httpx
beautifulsoup4
